:root{
    --navbarColor: #8f0283;
}

* {
    margin: 0;
    padding: 0;
}

body{
    background: rgb(255, 170, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ---------------------- NAVIGATION BAR STYLE ----------------------*/ 
.navbar {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--navbarColor);
    box-shadow: 5px 5px 20px rgb(0,0,0,0.2);
    position: fixed;
    top: 0;
    z-index: 1000;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li a{
    display: inline;
    padding: 8px 30px;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
}
/* ----------------------------------------------------------------- */ 

/* --------------------------- HERO STYLE ---------------------------*/
.hero{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideShow-container{
    width: 100%;
    height: 600px;
    border-radius: 5px;
    overflow: hidden;
}

.imagesToChoose{
    width:500%;
    height:600px;
    display: flex;
}

.imagesToChoose input{
    position: absolute;
    visibility: hidden;
}

#image-to-display{
    width: 1350px;
    height: 600px;
    margin: 8px;
}

.manual-selection{
    position: absolute;
    width: 100%;
    margin-top: -50px;
    display: flex;
    justify-content: center;
}

.manual-button{
    width: 40px;
    height: 15px;
    border: 2px solid white;
    margin: 20px ;
    border-radius: 10px;
    cursor: pointer;
}

.manual-button:hover{background: white;}

/* ------------------------------------------------------------------- */