:root{
    --navbarColor: #8f0283;
    --shadowColor: rgb(0,0,0,0.2);
    --titleColor:#390F44;
    --subtitleColor: rgba(65, 0, 59, 0.96);
}

* {
    margin: 0;
    padding: 0;
}

body{
    max-width: 100%;
    overflow-x: hidden;
    background: rgb(255, 170, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ---------------------- NAVIGATION BAR STYLE ----------------------*/ 
.navbar {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--navbarColor);
    box-shadow: 5px 5px 20px rgb(0,0,0,0.2);
    position: fixed;
    top: 0;
    z-index: 1000;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li a{
    display: inline;
    padding: 8px 30px;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
}
/* ----------------------------------------------------------------- */ 

/* --------------------------- HERO STYLE ---------------------------*/
.hero{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideShow-container{
    width: 100%;
    height: 600px;
    border-radius: 5px;
    overflow: hidden;
}

.imagesToChoose{
    width:500%;
    height:600px;
    display: flex;
}

.imagesToChoose input{
    position: absolute;
    visibility: hidden;
}

#image-to-display{
    width: 1350px;
    height: 600px;
    margin: 8px;
}

.manual-selection{
    position: absolute;
    width: 100%;
    margin-top: -50px;
    display: flex;
    justify-content: center;
}

.manual-button{
    width: 40px;
    height: 15px;
    border: 2px solid white;
    margin: 20px ;
    border-radius: 10px;
    cursor: pointer;
}

.manual-button:hover{background: white;}

/* ------------------------------------------------------------------- */

/* ------------------------- ABOUT ME STYLE ---------------------------*/
.about-me{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-me-container{
    margin: 75px 0;
    width: 75%;
    height: 300px;
    background-color: #d998eb;
    border-radius: 25px;
    box-shadow: 2px 2px 12px var(--shadowColor);
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me img{
    height: 300px;
    border-radius: 4%;
    box-shadow: 2px 2px 12px var(--shadowColor);
    margin-left: 1.5%;
}

.text-about-me{
    justify-content: center;
    align-items: center;
    padding: 0 2%;
    font-size: 16px;
    font-weight: 450;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#about-me-title{
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    color: var(--titleColor);
    text-shadow: 2px 2px 12px var(--shadowColor);
}

#career{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: var(--subtitleColor);
    text-shadow: 2px 2px 12px var(--shadowColor);
}

#description-part1, #description-part2, #description-part3{
    font-size: 16px;
    text-align: justify;
    color: black;
    text-shadow: 2px 2px 12px var(--shadowColor);
    padding: 1%;
}
/* ------------------------------------------------------------------- */

/* ------------------------ EXPERIENCE STYLE --------------------------*/
#experience-section{
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.experience-title h1{
    margin: 10px 0;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    color: var(--titleColor);
    text-shadow: 2px 2px 12px var(--shadowColor);
    line-height: 20px;
}

.projects img{
    width: 300px;
    height: 250x;
}

.projects{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

.project-content{
    padding-bottom: 10px;
    background: rgb(167, 116, 167);
    color: black;
    max-width: 340px;
    margin: 30px;
    text-align: center;
    box-shadow: 2px 2px 12px var(--shadowColor);
    text-shadow: 2px 2px 12px var(--shadowColor);
    transition: 0.5s;
    cursor: pointer;
}

.project-content:hover{
    background: rgb(196, 139, 196);
}

.projects a{
    text-decoration: none;
}

.project-title{
    font-weight: bold;
    color: var(--subtitleColor);
    font-size: 25px;
}

.project-date{
    font-weight: lighter;
    font-style: italic;
    font-size: 20px;
}

.program-language{
    font-size: 20px;
}
/* ------------------------------------------------------------------- */
